:root {
  --clor-main: #011c44;
  --color-hover-secondary: #2b7fff;
  --color-description-procedure: #ffffff;
  --color-fotter-rights: #747272;
  --color-shadow: #a8c6f561;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
